<h1>Product Form:</h1>
<form (ngSubmit)="onCalc(productEntity)" class="product-form">
  <div class="section-box">
    <h4>Frame</h4>
    <div class="section">
      <label for="frameName">Name: </label>
      <input id="frameName" type="text" [(ngModel)]="name" name="frameName" class="form-control">
      <label for="frameWeight">Weight (kg): </label>
      <input id="frameWeight" type="number" [(ngModel)]="weight" name="frameWeight" class="form-control">
    </div>
  </div>
  <div class="section-box">
    <h4>Motor</h4>
    <div class="section">
      <label for="motorKvValue">Kv Value: </label>
      <input id="motorKvValue" type="number" [(ngModel)]="productEntity.motorEntity.kvValue" name="motorKvValue" class="form-control">
      <label for="motorPower">Power (W): </label>
      <input id="motorPower" type="number" [(ngModel)]="productEntity.motorEntity.power" name="motorPower" class="form-control">
      <label for="motorTorque">Torque (Nm): </label>
      <input id="motorTorque" type="number" [(ngModel)]="productEntity.motorEntity.torque" name="motorTorque" class="form-control">
      <label for="motorRpm">RPM: </label>
      <input id="motorRpm" type="number" [(ngModel)]="productEntity.motorEntity.rpm" name="motorRpm" class="form-control">
      <label for="motorMaxCurrent">Max Current (A): </label>
      <input id="motorMaxCurrent" type="number" [(ngModel)]="productEntity.motorEntity.maxCurrent" name="motorMaxCurrent" class="form-control">
      <label for="motorEfficiency">Efficiency: </label>
      <input id="motorEfficiency" type="number" [(ngModel)]="productEntity.motorEntity.efficiency" name="motorEfficiency" class="form-control">
    </div>
  </div>
  <div class="section-box">
    <h4>Propeller</h4>
    <div class="section">
      <label for="propsName">Name: </label>
      <input id="propsName" type="text" [(ngModel)]="productEntity.propsEntity.name" name="propsName" class="form-control">
      <label for="propsDiameter">Diameter (m): </label>
      <input id="propsDiameter" type="number" [(ngModel)]="productEntity.propsEntity.diameter" name="propsDiameter" class="form-control">
      <label for="propsDrag">Drag: </label>
      <input id="propsDrag" type="number" [(ngModel)]="productEntity.propsEntity.drag" name="propsDrag" class="form-control">
      <label for="propsEfficiency">Efficiency: </label>
      <input id="propsEfficiency" type="number" [(ngModel)]="productEntity.propsEntity.efficiency" name="propsEfficiency" class="form-control">
    </div>
  </div>
  <div class="section-box">
    <h4>Flight Control</h4>
    <div class="section">
      <label for="flightControlName">Name: </label>
      <input id="flightControlName" type="text" [(ngModel)]="productEntity.flightControlEntity.name" name="flightControlName" class="form-control">
      <label for="flightControlWeight">Weight (kg): </label>
      <input id="flightControlWeight" type="number" [(ngModel)]="productEntity.flightControlEntity.weight" name="flightControlWeight" class="form-control">
    </div>
  </div>
  <div class="section-box">
    <h4>Battery</h4>
    <div class="section">
      <label for="batteryPower">Power (W): </label>
      <input id="batteryPower" type="number" [(ngModel)]="productEntity.batteryEntity.power" name="batteryPower" class="form-control">
      <label for="batteryCapacity">Capacity (mAh): </label>
      <input id="batteryCapacity" type="number" [(ngModel)]="productEntity.batteryEntity.capacity" name="batteryCapacity" class="form-control">
      <label for="batteryRate">C-rate: </label>
      <input id="batteryRate" type="number" [(ngModel)]="productEntity.batteryEntity.rate" name="batteryRate" class="form-control">
      <label for="batteryCellsType">Cells Type: </label>
      <select id="batteryCellsType" [(ngModel)]="productEntity.batteryEntity.cellsType" name="batteryCellsType" class="form-control">
        <option [value]="0">None</option>
        <option [value]="1">LiPo</option>
        <option [value]="2">LiFe</option>
        <option [value]="3">LiIon</option>
      </select>
      <label for="batteryCellNumber">Number of Cells: </label>
      <input id="batteryCellNumber" type="number" [(ngModel)]="productEntity.batteryEntity.cellNumber" name="batteryCellNumber" class="form-control">
      <label for="batteryTotalVoltage">Total Voltage: </label>
      <input id="batteryTotalVoltage" type="number" [(ngModel)]="productEntity.batteryEntity.totalVoltage" name="batteryTotalVoltage" class="form-control">
      <label for="batteryVoltagePerCell">Voltage per Cell: </label>
      <input id="batteryVoltagePerCell" type="number" [(ngModel)]="productEntity.batteryEntity.voltagePerCell" name="batteryVoltagePerCell" class="form-control">
    </div>
  </div>
  <button class="btn btn-primary submit-button" type="submit">Submit</button>
</form>