<h1> Product Form: </h1>
<form (ngSubmit)="onCalc(productEntity)" class="product-form">
  <div class="section-box">
    <h4>Fram</h4>
    <div class="section">
      <label for="factor1">Factor 1: </label>
      <input id="factor1" type="text" [(ngModel)]="productEntity.factor1" name="factor1" class="form-control">
      <label for="factor2">Factor 2: </label>
      <input id="factor2" type="text" [(ngModel)]="productEntity.factor2" name="factor2" class="form-control">
      <label for="factor3">Factor 3: </label>
      <input id="factor3" type="text" [(ngModel)]="productEntity.factor3" name="factor3" class="form-control">
      <label for="factor4">Factor 4: </label>
      <input id="factor4" type="text" [(ngModel)]="productEntity.factor4" name="factor4" class="form-control">
    </div>
  </div>
  <div class="section-box">
    <h4>Motor</h4>
    <div class="section">
      <label for="factor5">Factor 5: </label>
      <input id="factor5" type="text" [(ngModel)]="productEntity.factor5" name="factor5" class="form-control">
      <label for="factor6">Factor 6: </label>
      <input id="factor6" type="text" [(ngModel)]="productEntity.factor6" name="factor6" class="form-control">
      <label for="factor7">Factor 7: </label>
      <input id="factor7" type="text" [(ngModel)]="productEntity.factor7" name="factor7" class="form-control">
      <label for="factor8">Factor 8: </label>
      <input id="factor8" type="text" [(ngModel)]="productEntity.factor8" name="factor8" class="form-control">
    </div>
  </div>
  <div class="section-box">
    <h4>Propeler</h4>
    <div class="section">
      <label for="factor9">Factor 9: </label>
      <input id="factor9" type="text" [(ngModel)]="productEntity.factor9" name="factor9" class="form-control">
      <label for="factor10">Factor 10: </label>
      <input id="factor10" type="text" [(ngModel)]="productEntity.factor10" name="factor10" class="form-control">
      <label for="factor11">Factor 11: </label>
      <input id="factor11" type="text" [(ngModel)]="productEntity.factor11" name="factor11" class="form-control">
      <label for="factor12">Factor 12: </label>
      <input id="factor12" type="text" [(ngModel)]="productEntity.factor12" name="factor12" class="form-control">
    </div>
  </div>
  <div class="section-box">
    <h4>Battery</h4>
    <div class="section">
      <label for="factor13">Factor 13: </label>
      <input id="factor13" type="text" [(ngModel)]="productEntity.factor13" name="factor13" class="form-control">
      <label for="factor14">Factor 14: </label>
      <input id="factor14" type="text" [(ngModel)]="productEntity.factor14" name="factor14" class="form-control">
      <label for="factor15">Factor 15: </label>
      <input id="factor15" type="text" [(ngModel)]="productEntity.factor15" name="factor15" class="form-control">
      <label for="factor16">Factor 16: </label>
      <input id="factor16" type="text" [(ngModel)]="productEntity.factor16" name="factor16" class="form-control">
    </div>
  </div>
  <button class="btn btn-primary submit-button" type="submit">Submit</button>
</form>