.product-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  position: relative;
}

.section-box {
  background-color: #f8f9fa; /* Light gray background */
  padding: 1em;
  border: 1px solid #ddd; /* Optional: border to distinguish sections */
  border-radius: 5px; /* Optional: rounded corners */
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.section label {
  grid-column: span 1;
}

.section input {
  grid-column: span 1;
}

.submit-button {
  position: absolute;
  top: -3em;
  right: 10px;
  //height: 50px; /* Adjust the height as needed */
}