<h1>Product result</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Factor</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Factor 1</td>
      <td>{{productEntity.factor1}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Factor 2</td>
      <td>{{productEntity.factor2}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sum</td>
      <td>{{productEntity.sum}}</td>
    </tr>
  </tbody>
</table>